.add-video-input-search-container {
  width: 100%;
  text-align: left;
}

.add-video-input-search {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 15px;
}

.add-video-input-search:hover {
  cursor: pointer;
}

.add-video-modal-body-container {
  height: 500px;
}

.add-video-modal-footer {
  justify-content: center;
}

.add-video-modal-footer button {
  margin: 0 auto;
}